$cardWidth: 80px;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.card {
	max-width: $cardWidth;
	height: auto;
	box-shadow: 1px 1px 2px 2px #ccc;
	border-radius: 4px;

	&--opponent {
		@for $i from 1 through 8 {
			&:nth-child(#{$i}) {
				transform-origin: 50% 100%;
				transform: translateX(100% - $i * 90%) rotateZ($i * 2deg - 8deg);
			}
		}
	}
}

.game-area {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 1024px;
	height: 100vh;
	margin: 0 auto;
	padding: 1em;
}

.hero-wrapper {
	text-align: center;
}

.opponents-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.opponent-wrapper {
	overflow-x: hidden;
	width: calc(100% / 3);
	text-align: center;
	&:nth-child(1),
	&:nth-child(3) {
		position: relative;
		top: 25%;
	}
}

.deck-opponent {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	padding-bottom: 50px;
	left: calc(50% - $cardWidth);
}

@media screen and (max-width: 960px) {
	$cardWidth: 50px;
	$cardHeroZoom: 1.2;

	.App {
		font-size: 80%;
	}

	.game-area {
		max-height: 667px;
	}

	.card {
		width: $cardWidth;
		&--hero {
			width: $cardWidth * $cardHeroZoom;
		}
	}

	.deck-opponent {
		left: calc(50% - $cardWidth);
	}
}

@media screen and (max-width: 360px) {
	$cardWidth: 40px;
	$cardHeroZoom: 1.4;

	.App {
		font-size: 60%;
	}

	.card {
		width: $cardWidth;
		&--hero {
			width: $cardWidth * $cardHeroZoom;
		}
	}

	.deck-opponent {
		left: calc(50% - $cardWidth);
	}
}
